.sectionWrapperMain {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionWrapperInner {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  margin: auto;
  height: 100vh;
  width: 50%;
}

.logout {
  padding: 0.875rem;
  position: absolute;
  top: 0;
  right: 0;
}

.logout {
  padding: 0.875rem;
  position: absolute;
  top: 0;
  right: 0;
}

.logout a {
  color: #d6d6d6;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.logout a:hover {
  color: #8c8c8c;
}

.contentWrapper {
  width: 100%;
  display: inherit;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 20%;
  height: 100vh;
}

.contentWrapperModal {
  display: flex;
}

.mainContent {
  position: relative;
  height: 43.75rem;
  margin-top: 50px;
  width: 79.5rem;
}

.mainContentModal {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
}

.borderLeftDiv {
  border: none;
}

.borderRightDiv {
  border: none;
}

.contactContainer {
  display: none;
}

.contactIcons {
  color: #736d6d;
  padding: 0.625rem;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.contactIcons:hover {
  color: #ffffff;
  cursor: pointer;
}
.descriptionContainer {
  display: flex;
  align-items: center;
  font-family: Gotham, arial;
  font-style: italic;
}
.descriptionFadeIn {
  padding: 0 1.25rem;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hideContactIcons {
  display: none;
}

@media screen and (min-width: 80.0625rem) {
  .contentWrapper {
    display: flex;
    width: 80%;
    margin: 0 20%;
  }

  .mainContent {
    height: 43.75rem;
    width: 79.5rem;
  }

  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 43.75rem;
    width: 3.125rem;
  }

  .descriptionContainer {
    display: flex;
    margin-left: 1.25rem;
    align-items: center;
    height: 43.75rem;
    width: 18.75rem;
    font-family: Gotham, arial;
    font-style: italic;
  }
  .descriptionFadeIn {
    animation: fadeIn 2s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .borderLeftDiv {
    position: absolute;
    height: 25rem;
    width: 40rem;
    bottom: 0;
    left: 0;
    border-bottom: 0.125rem solid #1f1f1f;
    border-left: 0.125rem solid #1f1f1f;
    pointer-events: none;
    transition: border-color 2s ease, height 1s ease, width 1s ease;
    -webkit-transition: border-color 2s ease, height 1s ease width 1s ease;
    -moz-transition: border-color 2s ease, height 1s ease, width 1s ease;
  }

  .borderRightDiv {
    position: absolute;
    height: 25rem;
    width: 40rem;
    top: 0;
    right: 0;
    border-right: 0.125rem solid #1f1f1f;
    border-top: 0.125rem solid #1f1f1f;
    pointer-events: none;
    transition: border-color 2s ease, height 1s ease, width 1s ease;
    -webkit-transition: border-color 2s ease, height 1s ease, width 1s ease;
    -moz-transition: border-color 2s ease, height 1s ease, width 1s ease;
  }
  .activeBorderLeftDiv {
    height: 30.5rem;
    width: 65rem;
    border-color: #ffffff;
  }

  .activeBorderRightDiv {
    height: 30.5rem;
    width: 65rem;
    border-color: #ffffff;
  }

  .clickedBorderRightDiv {
    height: 100%;
    width: 100%;
    border-color: #ffffff;
  }

  .clickedBorderLeftDiv {
    height: 100%;
    width: 100%;
    border-color: #ffffff;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .contentWrapper {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 20%;
  }

  .descriptionContainer {
    width: 100%;
    align-items: flex-start;
    padding: 1.25rem;
  }

  .contactContainer {
    flex-direction: row;
    align-items: end;
    justify-content: end;
  }
}
