.modalWrapper {
  position: absolute;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9997;
  width: 95%;
}

.modalImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.modalImageFadeIn {
  animation: fadeIn 2s;
}

.modalImageFadeOut {
  animation: fadeOut 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
