.gridContainer {
  max-width: 1300px;
  margin-top: 35px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-column-gap: 50px;
  grid-row-gap: 50px; */
}

.col {
  /* height: 20px; */
  margin: 0 auto;
  min-width: 350px;
  position: relative;
}

.gridContainer img {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1208px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    max-height: 1000px;
  }

  .col {
    height: 250px;
  }
}

@media screen and (min-width: 720px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-column-gap: 10px;
    grid-row-gap: 50px; */
  }

  .col {
    height: 250px;
    width: 450px;
  }
}
