.gridContainer {
  max-width: 81.25rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-column-gap: 50px; */
  grid-row-gap: 10px;
}

.video {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

.video:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.col {
  /* height: 20px; */
  overflow: hidden;
  margin: 0 auto;
  min-width: 21.875rem;
  position: relative;
}

.gridContainer img {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hideProjects {
  display: none;
}

@media screen and (min-width: 45rem) {
  .gridContainer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .col {
    height: 15.625rem;
    width: 28.125rem;
  }
}
