.navContainer {
  display: flex;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 10%;
  border-right: 1px solid #1f1f1f;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #44444c;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.linkContainer {
  width: 100%;
}

.nameContainer {
  font-family: Gotham, arial;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  position: fixed;
  text-transform: uppercase;
}

.nameContainer a {
  white-space: nowrap;
  color: #d6d6d6;
  text-decoration: none;
}

.nameContainer a:hover {
  color: #8c8c8c;
}

.imageContainer {
  margin-top: 1em;
}

.imageContainer img {
  filter: grayscale(100%);
  width: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.imageContainer img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.svg-inline--fa {
  height: 30px;
  width: 30px;
}

.linkWrapper {
  border-bottom: 0.5px solid gray;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  cursor: pointer;
}

.linkWrapper:last-child {
  border: none;
}

.mobile_btn {
  display: none;
  z-index: 100;
}

.linkWrapper span {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  font-size: 20px;
  font-weight: 700;
  font-family: Gotham, arial;
  color: #d6d6d6;
  text-transform: uppercase;
}

.linkWrapper span:hover {
  color: #8c8c8c;
}

.activeLink span {
  color: #8c8c8c !important;
}

@media screen and (max-width: 720px) {
  .navContainer {
    height: 100vh;
    left: -100%;
    width: 100vw;
    background-color: #0b0909;
  }
  .active {
    left: 0;
  }
  .imageContainer {
    display: none;
  }
  .navDrawerContainer {
    left: 0;
  }

  .mobile_btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    cursor: pointer;
  }
  .nameContainer {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
  }
  .linkWrapper {
    border: none;
  }
}

@media screen and (min-width: 1208px) {
  .navContainer {
    height: 100vh;
    width: 10%;
  }
  .nameContainer {
    top: 0;
  }
}
